{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>My Website</title>
    
    <link rel="stylesheet" href="{% static 'home.css' %}"/>
  </head>
  <body>
    <div id="header">
      <nav>
        <ul>
          
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
    <div id="middle">
      <h1>where quality& clarity matters</h1>
      <p style="text-align:center;">watch/doenload telugu movies in an excellent quality at the smallest file size.<br> Exciusively designed & developed for smartphones. tablets and PCs. </p>
    </div>

      <p style=text-align:center;>beware of fake ibhomma apps, sites</p>
    <footer >
      <nav>
        <ul>
            <li><a herf="/contact/"> contact </a>|</li> 
            <li>DMCA |</li> 
            <li>T&C </li> 
           
        </uL>    
           
    </nav>  
    <p style="text-align:right;display:inline;">2023 iBHOMMA</p>  
    </footer>
  </body>
</html>
